@font-face {
  font-family: "SpaceGrotesk";
  src: url('./fonts/SpaceGrotesk/otf/SpaceGrotesk-Bold.otf');
  font-weight: bold;
}

html, body {
    margin: 0;
    padding: 0;
    cursor: default;
    /* overflow: hidden; */
}

canvas {
  display: block;
  /* position: absolute; */
  top: 0;
  z-index: -1;
}
